.App {
  text-align: center;
}

.day-item {
  display: "flex";
  flex-direction: "column";
}

.day-name {
  text-transform: capitalize;
}

.select-width {
  width: 300px; 
}

.weather-info {
  display: 'flex';
  justify-content:"center";
}

.small-icon {
  font-size: 38px;
}

.big-icon {
  font-size: 76px;
}

.small-text {
  font-size: 14px;
}

i {
  line-height: normal !important;
}